::ng-deep .p-tabview .p-tabview-nav {
  background-color: transparent !important;
}
::ng-deep .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  background-color: transparent !important;
  color: #3b82f6;
  border-color: #3b82f6;
}
::ng-deep .p-tabview .p-tabview-nav li .p-tabview-nav-link {
  background-color: transparent !important;
  color: #888888;
  border-color: transparent;
  padding-bottom: 12px;
}
::ng-deep .p-tabview .p-tabview-panels {
  background-color: transparent !important;
}

::ng-deep .p-button.p-button-outlined {
  background-color: white !important;
}

::ng-deep .p-button.p-button-rounded {
  border-radius: 16px;
}

@media screen and (max-width: 768px) {
  ::ng-deep .p-button {
    padding: 8px 14px !important;
  }

  ::ng-deep .p-button-label {
    font-size: 12px;
    font-weight: 500;
  }
}

::ng-deep .p-tabview-title {
  font-weight: 400;
}

::ng-deep .p-button {
  padding: 8px 14px;
}

::ng-deep .p-button-label {
  font-size: 14px;
  font-weight: 500;
}

::ng-deep .p-button.p-button-icon-only {
  width: 40px;
  height: 40px;
}

.header {
  position: fixed;
  width: 100dvw;
  height: 80px;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  box-shadow:
    0 2px 6px rgba(0, 0, 0, 0.08),
    0 4px 12px rgba(0, 0, 0, 0.06);
}

.container {
  width: 100%;
  height: 100%;
  max-width: 1920px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 5.5dvw;
  padding-right: 5.5dvw;
  margin-left: auto;
  margin-right: auto;
}

