<header class="header">
  <section class="container">
    <img
      (click)="redirectTo('hopeshare/home')"
      class="hidden md:flex w-[190px] cursor-pointer"
      src="./../../../assets/images/logo-marca.png"
      alt="Logo HopeShare"
    />
    <img
      (click)="redirectTo('hopeshare/home')"
      class="md:hidden cursor-pointer w-[50px]"
      src="./../../../assets/images/icone.png"
      alt="Logo HopeShare"
    />
    <p-tabView class="h-[60px] hidden md:flex" [(activeIndex)]="activeIndex" (click)="tabChange()">
      <p-tabPanel header="Home"> </p-tabPanel>
      <!-- Se o usuário for do tipo EMPRESA ou Admin -->
      @if (userSession?.type_user === 1 || userSession?.admin) {
        <p-tabPanel header="Meus posts"> </p-tabPanel>
        <p-tabPanel header="Dashboard"> </p-tabPanel>
        <p-tabPanel header="Relatórios"> </p-tabPanel>
        <p-tabPanel header="Configurações"> </p-tabPanel>
      }
      @if (userSession?.admin) {
        <p-tabPanel header="Painel Admin"> </p-tabPanel>
      }
    </p-tabView>
    @if (!userSession) {
      <div class="flex gap-3">
        <p-button
          size="small"
          [rounded]="true"
          [outlined]="true"
          label="Registre-se grátis"
          (click)="redirectTo('login/register')"
        />
        <p-button size="small" [rounded]="true" label="Login" (click)="redirectTo('login')" />
      </div>
    } @else {
      <p-button
        size="small"
        [rounded]="true"
        [outlined]="true"
        icon="pi pi-palette"
        (click)="toggleTheme()"
        [label]="currentTheme === 'light' ? 'Dark' : 'Light'"
      />
      <section class="flex items-center gap-2 cursor-pointer">
        @if (userSession.image) {
          <img
            (click)="menu.toggle($event)"
            class="w-10 h-10"
            [src]="userSession.image"
            alt="User profile image of {{ userSession.username }}"
          />
        } @else {
          <span
            (click)="menu.toggle($event)"
            class="w-10 h-10 flex justify-center items-center rounded-full"
            style="background-color: var(--primary-color); color: var(--primary-color-text)"
            >{{ userSession ? userSession.username[0].toUpperCase() : 'U' }}</span
          >
        }

        <p-menu #menu [model]="settings" [popup]="true" />
      </section>
    }
  </section>
</header>

