<ng-template #header pTemplate="header" let-onClick="onClick" let-index="index">
  <section class="flex gap-3">
    <div
      class="w-12 h-12 flex items-center justify-center rounded-full transition-colors"
      [ngClass]="{
        'text-white bg-blue-600': activeStep === index,
        'text-secondary bg-surface border border-theme': activeStep !== index,
      }"
    >
      <mat-icon svgIcon="database-outline"></mat-icon>
    </div>
    @if (activeStep === index) {
      <div class="flex flex-col justify-center">
        <span class="text-xs text-blue-600 font-bold"> Passo {{ index + 1 }}/{{ totalSteps }} </span>
        <span class="text-primary">Metas da campanha</span>
      </div>
    }
  </section>
</ng-template>
<ng-template
  #content
  pTemplate="content"
  let-prevCallback="prevCallback"
  let-nextCallback="nextCallback"
  let-index="index"
>
  <form *ngIf="campanhaForm" [formGroup]="campanhaForm" class="flex flex-col min-h-[600px] p-4 md:p-6 gap-6 bg-card">
    <div class="flex flex-col gap-2">
      <h1 class="text-xl text-primary font-bold">Quanto você precisa?</h1>
      <span class="text-secondary max-w-[400px]">Defina a meta que você quer alcançar com sua campanha</span>
    </div>
    <section class="h-fit">
      <section class="grid grid-cols-2 md:flex md:gap-4 md:flex-wrap md:items-center md:justify-center gap-4">
        @for (option of optionsValues; track option; let index = $index) {
          <div
            [ngClass]="{
              'border-2 border-blue-600 ': option.selected,
              'border border-theme ': !option.selected,
            }"
            class="rounded-xl md:w-[200px] h-[125px] items-center justify-center flex flex-col gap-2 cursor-pointer transition-all"
            (click)="handleValueSelected(option)"
          >
            <mat-icon
              style="width: 42px; height: 42px"
              [ngClass]="{
                'text-blue-600': option.selected,
                'text-primary': !option.selected,
              }"
              [svgIcon]="option.icon"
            ></mat-icon>

            @if (option.value !== 'custom') {
              <span
                [ngClass]="{
                  'text-blue-600': option.selected,
                  'text-secondary': !option.selected,
                }"
                class="font-semibold text-sm"
              >
                {{ option.value | currency: 'BRL' : 'symbol' : '1.2-2' }}
              </span>
            } @else if (isCustomValueSelected) {
              <p-inputNumber
                id="custom_value"
                formControlName="custom_value"
                mode="currency"
                currency="BRL"
                locale="pt-BR"
                [min]="1"
                [max]="999999999"
                placeholder="Digite o valor desejado"
                (onInput)="handleCustomValueChange(+($event.value || 0))"
                styleClass="mx-[1rem] py-[0.5rem] bg-surface border-theme text-primary"
              ></p-inputNumber>

              <div class="flex align-items-end text-xs justify-end">
                <span
                  [ngClass]="
                    custom_value?.invalid && (custom_value?.dirty || custom_value?.touched)
                      ? 'visible text-red-600'
                      : 'invisible text-red-600'
                  "
                >
                  <ng-container *ngIf="custom_value?.errors as errors">
                    <ng-container *ngIf="errors['required']">Campo obrigatório!</ng-container>
                    <ng-container *ngIf="errors['min']">Valor deve ser maior que R$ 0,00.</ng-container>
                  </ng-container>
                </span>
              </div>
            }
          </div>
          @if (index === 2 || index === 4) {
            <div class="hidden md:block w-full"></div>
          }
        }
      </section>
    </section>
    <section class="flex justify-between items-center pt-4 border-t border-theme">
      <p-button label="Cancelar" severity="secondary" [outlined]="true" iconPos="right" (onClick)="onCancel.emit()" />
      <div class="flex justify-end gap-2">
        <p-button
          label="Voltar"
          severity="secondary"
          [outlined]="true"
          icon="pi pi-arrow-left"
          (onClick)="prevCallback.emit()"
        />
        <p-button
          [disabled]="isFormInvalid()"
          label="Continuar"
          icon="pi pi-arrow-right"
          iconPos="right"
          (onClick)="nextCallback.emit()"
        />
      </div>
    </section>
  </form>
</ng-template>

