<section class="rounded-2xl shadow-lg w-full rounded-t-none">
  <p-tabView>
    <p-tabPanel header="Depósitos" *ngIf="userIsCompany">
      <div *ngIf="depositos?.length; else semDepositos" class="grid gap-6">
        <app-deposito [depositos]="depositos"></app-deposito>
      </div>
      <ng-template #semDepositos>
        <p class="text-center text-gray-500 italic mt-4">Nenhum depósito encontrado.</p>
      </ng-template>
    </p-tabPanel>

    <p-tabPanel header="Doações">
      <div *ngIf="doacoes?.length; else semDoacoes" class="grid gap-6">
        <app-doacao [doacoes]="doacoes"></app-doacao>
      </div>
      <ng-template #semDoacoes>
        <p class="text-center text-gray-500 italic mt-4">Nenhuma doação encontrada.</p>
      </ng-template>
    </p-tabPanel>
  </p-tabView>
</section>

