<ng-template #header pTemplate="header" let-onClick="onClick" let-index="index">
  <section class="flex gap-3">
    <div
      class="w-12 h-12 flex items-center justify-center rounded-full transition-colors"
      [ngClass]="{
        'text-white bg-blue-600': activeStep === index,
        'text-secondary bg-surface border border-theme': activeStep !== index,
      }"
    >
      <mat-icon svgIcon="layers-outline"></mat-icon>
    </div>
    @if (activeStep === index) {
      <div class="flex flex-col justify-center">
        <span class="text-xs text-blue-600 font-bold"> Passo {{ index + 1 }}/{{ totalSteps }} </span>
        <span class="text-primary">Categoria da campanha</span>
      </div>
    }
  </section>
</ng-template>
<ng-template #content pTemplate="content" let-nextCallback="nextCallback" let-index="index">
  <section class="flex flex-col min-h-[600px] p-4 md:p-6 gap-6 bg-card">
    <div class="flex flex-col gap-2">
      <h1 class="text-xl text-primary font-bold">Em que categoria se encaixa sua campanha?</h1>
      <span class="text-secondary max-w-[400px]"
        >Escolha pelo menos uma das categorias abaixo que represente sua campanha.</span
      >
    </div>
    <section class="flex-1 category">
      <section class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 xl:grid-cols-6 gap-4">
        @for (category of categorysList; track category; let index = $index) {
          <section
            [ngClass]="{
              'border-2 border-blue-600': category.selected,
              'border border-theme': !category.selected,
            }"
            class="rounded-xl h-[100px] items-center justify-center flex flex-col gap-2 cursor-pointer transition-all"
            (click)="category.selected = !category.selected; handleCategoriesSelected()"
          >
            <mat-icon
              style="height: 42px; width: 42px"
              [ngClass]="{
                'text-blue-600': category.selected,
                'text-primary': !category.selected,
              }"
              [svgIcon]="category.icon"
            ></mat-icon>

            <span
              [ngClass]="{
                'text-blue-600': category.selected,
                'text-secondary': !category.selected,
              }"
              class="font-semibold text-sm"
              >{{ category.name }}</span
            >
          </section>
        }
      </section>
    </section>
    <section class="flex justify-between items-center pt-4 border-t border-theme">
      <p-button label="Cancelar" severity="secondary" [outlined]="true" iconPos="right" (click)="onCancel.emit()" />

      <div class="flex justify-end">
        <p-button
          [disabled]="category?.invalid"
          label="Continuar"
          icon="pi pi-arrow-right"
          iconPos="right"
          (onClick)="nextCallback.emit()"
        />
      </div>
    </section>
  </section>
</ng-template>

