<p-table [value]="doacoes" class="shadow-lg rounded-lg overflow-hidden">
  <ng-template pTemplate="header">
    <tr>
      <th>Campanha</th>
      <th>Valor Doado</th>
      <th>Data</th>
      <th>Pagamento</th>
      <th>Status</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-doacao>
    <tr>
      <td>{{ doacao.nomeCampanha }}</td>
      <td>R$ {{ doacao.valor | number: '1.2-2' }}</td>
      <td>{{ doacao.data | date: 'dd/MM/yyyy' }}</td>
      <td>{{ doacao.tipoPagamento }}</td>
      <td>
        <span
          class="px-3 py-1 rounded-full text-white text-sm"
          [ngClass]="{
            'bg-green-500': doacao.status === 'Aprovado',
            'bg-yellow-500': doacao.status === 'Pendente',
            'bg-red-500': doacao.status === 'Recusado',
          }"
        >
          {{ doacao.status }}
        </span>
      </td>
    </tr>
  </ng-template>
</p-table>
