::ng-deep .p-input-icon-left > .p-inputtext {
  width: 400px;
}

::ng-deep .p-stepper .p-stepper-nav {
  width: 50dvw;
  align-self: center;
  border: 1px solid #e7e7e7;
  border-radius: 16px;
  margin: 0 auto;
}

:host ::ng-deep div[role='tablist'] {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

::ng-deep .p-stepper .p-stepper-panels {
  padding: 0;
  margin: 3rem;
  border-radius: 24px;
}

:host ::ng-deep .p-card {
  box-shadow:
    0 1px 3px 0 rgba(0, 0, 0, 0.1),
    0 1px 2px -1px rgba(0, 0, 0, 0.1);
}

:host ::ng-deep .p-card-content {
  padding: 0;
}

