::ng-deep .p-input-icon-left > .p-inputtext {
  width: 400px;
  height: 100%;
}

::ng-deep .p-inputtext {
  height: 100%;
}

:host ::ng-deep div[role='tablist'] {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

::ng-deep .p-stepper .p-stepper-panels {
  padding: 0;
  margin: 3rem;
  border-radius: 24px;
}

:host ::ng-deep .p-card {
  box-shadow:
    0 1px 3px 0 rgba(0, 0, 0, 0.1),
    0 1px 2px -1px rgba(0, 0, 0, 0.1);
}

:host ::ng-deep .p-card-content {
  padding: 0;
}

:host ::ng-deep .p-datatable .p-datatable-thead > tr > th {
  background-color: var(--surface-ground);
  border-color: var(--surface-border);
  color: var(--text-color-secondary);
}

:host ::ng-deep .p-datatable .p-datatable-tbody > tr {
  background-color: var(--surface-card);
  border-color: var(--surface-border);
}

:host ::ng-deep .p-datatable .p-datatable-tbody > tr:hover {
  background-color: var(--surface-hover);
}

:host ::ng-deep .p-datatable .p-datatable-tbody > tr > td {
  color: var(--text-color);
  border-color: var(--surface-border);
}

:host ::ng-deep .p-inputtext {
  background-color: var(--surface-card);
  border-color: var(--surface-border);
  color: var(--text-color);
}

:host ::ng-deep .p-inputtext:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 0 0.2rem var(--primary-color-text);
}

