@import 'primeicons/primeicons.css';
@import './app/shared/styles/theme-variables.css';

@layer tailwind-base, primeng, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer primeng;

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

@layer utilities {
  .truncated-text-3l {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    line-height: 1.5em;
  }
  .truncated-text-5l {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    line-clamp: 5;
    line-height: 1.5em;
  }
  .truncated-text-10l {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 10;
    line-clamp: 10;
    line-height: 1.5em;
  }
}

html {
  font-family: 'Work Sans' !important;
  background-color: var(--surface-ground) !important;
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: var(--surface-ground) !important;
  overflow-x: hidden;
}

@keyframes slide-infinite {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

